name: SonarCloud

on: workflow_dispatch
  # push:
  #   branches:
  #     - master
  # pull_request:
  #   types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build, Test and Analyze
    runs-on: windows-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'microsoft'

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install SonarScanner for .NET
        shell: powershell
        run: |
          dotnet tool install --global dotnet-sonarscanner
          echo "$env:USERPROFILE\.dotnet\tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      # =======================
      # SONAR BEGIN
      # =======================
      - name: SonarCloud - Begin analysis
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner begin `
            /k:"AbdulQader496_bp" `
            /o:"abdulqader496" `
            /d:sonar.host.url="https://sonarcloud.io" `
            /d:sonar.token="$env:SONAR_TOKEN" `
            /d:sonar.cs.opencover.reportsPaths="TestResults/**/coverage.opencover.xml" `
            /d:sonar.exclusions="**/bin/**,**/obj/**,**/*.dll,**/*.json,**/*.g.cs,**/*.cshtml,**/wwwroot/**,.github/workflows/**,k6Test/**" `
            /d:sonar.coverage.exclusions="**/Program.cs,**/Startup.cs,**/*.cshtml.cs,**/Pages/**/*,**/*Model.cs,k6Test/**"
      # =======================

      - name: Restore dependencies
        shell: powershell
        run: dotnet restore

      - name: Build solution
        shell: powershell
        run: dotnet build BPCalculator.sln --configuration Debug --no-restore

      - name: Test with OpenCover coverage
        shell: powershell
        run: |
          dotnet test TestProject1/TestProject.csproj `
            --no-build `
            --collect:"XPlat Code Coverage" `
            --results-directory "TestResults" `
            -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover

      # =======================
      # SONAR END
      # =======================
      - name: SonarCloud - End analysis
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet-sonarscanner end /d:sonar.token="$env:SONAR_TOKEN"
